
body {
  background-color: rgb(140, 203, 255);
  background-blend-mode: screen;
  text-align: center;
  font-size: 150%;
}

table {
  margin: auto;
  text-align: center;
}

#form1 { 
  margin-left: 20%;
}

tr {
  font-weight: 800;
}

input {
  padding: 4px;
  background: rgb(239, 245, 188);
  color: rgb(138, 138, 138);
}

.hidden {
  display: none;
}

.points { 
  width: 30px;
  text-align: right;
}

button, #addPointButton {
  background: rgb(140, 203, 255);
  color: rgb(140, 203, 255);
  border-color: rgb(140, 203, 255);
  border-width: 0px;
  padding: 10px;
  width: 40px;
}

#addPointButton { 
  padding: 10px 70px;
}

.pop {
  position: relative;
  display: inline-block;
  user-select: none;
}

/* The actual popup */
.pop .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.pop .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.pop .show {
  visibility: visible;
  animation: fadeIn 1s;
}

#add { 
  display: none;
}

#dropdown {
  text-align: left;
  font-size: 70%;
}

