.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7; }
.jumbotron .btn-primary:hover {
  background: #7646c1; }
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; }
.navbar + .jumbotron {
  margin-top: -20px; }
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; }
.jumbotron .lang-logo img {
  max-width: 100%; }


body { 
  margin: 20px; 
  margin: auto; 
  text-align: center;
}

h1 { 
  text-align: center;
}

table { 
  margin-left: auto;
  margin-right: auto;
  font-size: 120%;
  text-align: center;
}

th { 
  min-width: 100px;
}

td { 
  margin:   5px;
  padding: 10px;
}

.Ava { 
  color: red;
}

.Natalie { 
  color: gold;
}

.five { 
  background-color: lightgrey;
}

button { 
  margin: 5px; 
  padding: 10px 60px;
}

option { 
  padding: 5px 10px;
}

ul, #jobs {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

li { 
  font-size: 125%;
  padding: 3px;
}

input { 
  margin: 4px;
}

#daily, #week, #month { 
  display: none;
  background-color: rgb(183, 225, 233);
  background-color: lightblue;
  background-color: lightskyblue;
}

