
body { 
  margin: 4%;
  background-color: rgb(221, 221, 221);
}

.breakfast, .empty, .play, .family, .outside, .bedroom, .together, .clear, .dinner, .washDishes, #login, #myChore, #createChore{
  background-color: rgb(148, 148, 148);
  min-height: 20px;
  margin: 5px;
  border-radius: 15px;
  padding: 1px;
  /* font-size: 120%; */
  text-align: center;
}

#myChore, #createChore {
  visibility: hidden;
}

input, button { 
  margin-bottom: 5px;
}

#password { 
  display: none;
}

.five { 
  background-color: rgb(80, 80, 80);
}

h1, h2, h3, h4, li { 
  text-align: center;
  margin: 4px;
}

h1 { 
  padding-top: 10px;
}

p { 
  margin: 0px 0px 3px 0px;
  font-size: 130%;
}

#button { 
  padding: 70px 60;
  text-align: center;
}

/* animated button */
#populate { 
  height: 40px;
  cursor: pointer;
}

/* button animation */
@keyframes press { 
  from {font-size: 100%;}
  to   {font-size: 200%;}
}

/* division holding the days of the week. 
   Used for swiping right and left. */
#swiper { 
  align-items: stretch;
  display: flex;
  overflow-y: hidden;
  --sectionNumber: 1;
  width: 100%;
  width: calc(var(--sectionNumber)*100%);
  transform: translate(calc(var(--i, 0)/var(--n)*-100%));
  transition: transform 1s linear;

}

/* initial section values */
section { 
  min-width: 100%;
  width: 100%;
  width: calc(100%/var(--sectionNumber)); 
  user-select: none;
  pointer-events: none;
}

.dinner h2 { 
  margin: 30px;
  color: #FFC7C2;
  text-shadow: 2px 2px 5px #000000;
}

.dinner p, .dinner a, .dinner ul { 
  color: white;
  text-shadow: 1px 1px 5px #000000;
  margin: 5px;
}

p {
  color: #FFC7C2;
}

ul { 
  margin: auto;
  list-style: none;
  text-align: left;
}

.Dad { 
  color: darkgrey;
  text-shadow: 1px 1px 5px #000000;
}

.Mom { 
  color: navy;
}

.Sprea { 
  color: gold;
  text-shadow: 1px 1px 5px #000000;
}

.Ginger { 
  color: red;
}

.Cool { 
  color: blue;
  text-shadow: 1px 1px 5px #000000;
}

  /* for screens largeer than 1500 */
  @media screen and (min-width: 1500px) {
    section { 
      min-width: initial;
    }
  
    h2, h3 { 
      font-size: 110%;
    }
  
    p, ul { 
      font-size: 100%;
    }
  }
  