<!DOCTYPE html>
<html>
<head>
	<title>Daily jobs</title>
</head>
<body>
	<h1>Daily jobs</h1>

  <select id="dropdown"> 
    <option >Select a member</option>
    <% for (var i = 0; i < member.length; i++) { %>
      <option><%=member[i+1]%></option>
    <% } %> 
    
  </select>

  <script>

  </script>
</body>
</html>
