<!DOCTYPE html>
<html>
<head>
	<title>Daily jobs</title>
</head>
<body>
	<h1>Daily jobs</h1>

  <select id="dropdown"> 
    <option >Select a member</option>
    <% for (var i = 0; i < member.length; i++) { %>
      <option><%=member[i].firstname%></option>
    <% } %>
    
  </select>

  <ul>
      <% member.forEach(function(m) { %>
          <li><%= m.id %> - <%= m.firstname %></li>
      <% }); %>
  </ul>

  <script>

  </script>
</body>
</html>
