<!DOCTYPE html>
<html>
<head>
	<title>Daily jobs</title>
</head>
<body>
	<h1>Daily jobs</h1>

  <form action="selectMember('dropdown.value')">
   <select id="dropdown" name="dropdown"> 
      <option >Select a member</option>
      <% for (var i = 0; i < member.length; i++) { %>
        <option value='<%=member[i].firstname%>'><%=member[i].firstname%></option>
      <% } %>
    
    </select>
    <input type="submit">
  </form>
  <div id="jobs">

  </div>
  <ul>
      <% member.forEach(function(m) { %>
          <li><%= m.id %> - <%= m.firstname %></li>
      <% }); %>
  </ul>

  <script>

  </script>
</body>
</html>
