<!DOCTYPE html>
<html>
<head>
	<title>Letter cost</title>
</head>
<body>
	<h1>Postage</h1>
  <p>Your package will cost "cool"</p>

  <%= weight %>
  
  <%= type %> 

  <%= cost %> 

  <script>

  </script>
</body>
</html>
