<!DOCTYPE html>
<html>
<head>
	<title>Letter cost</title>
</head>
<body>
	<h1>Postage</h1>
  <p>For a <%= type %>, that weights <%= weight.toFixed(1) %> ounces, your <%= type2 %> will cost $<%= cost.toFixed(2) %></p>

  <script>

  </script>
</body>
</html>
